.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #006A50;
}

primary-bg{
    background-color: rgba(241, 241, 243, 1);
}


/* header style */
header{
    max-width: 1280px;
    margin: 0 auto;
    
}
/*  main style */
main{
    max-width: 1280px;
    margin: 0 auto;
}

main section{
    margin-top: 80px;
    margin-bottom: 80px;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}

nav button {
    display: flex;
    align-items: center;
}

.sign-in{
    background-color: #F5F5F5;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 5px;
    border-color: #006A50;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius:10px;
    margin-top: 20px;
    margin-bottom: 80px;
    gap: 5px;
}

.banner-content{
    max-width: 622px;
}

.banner-name{
    color:#0E0E0E;
    font-weight: 600;
    font-size: 24px;
}

.banner-title{
    color:#0E0E0E;
    font-weight: bold;
    font-size: 56px;
}

/* banner secton button */

.btn-primary{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    border-radius: 5px;
    border: none;
}
.banner-pic{
    max-width: 474.03px;
}

/* main style */

/* pillars container */

.pillars-title{
    font-weight: bold;
    font-size: 40px;
}

.pillars-container{
    display: flex;
    gap : 24px;
    margin-top: 32px;   

}
.pillar{
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


/* vision section */

.vision-title{
    font-weight: bold;
    font-size: 40px;
}

.vision-title-description{
    font-weight: 400px;
    font-size: 16px;
    margin-top: 32px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);

}

.vision-container {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    /* padding: 32px; */   
}

.vision-1{
    
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}
.vision-2{
    
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}


.vision-3{
    
    padding: 24px;
    background-color:#F7EBCF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}

.btn-primary-1{

    padding: 11px 20px;
    border-radius: 8px;
    border-color: #5490F5;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #5490F5;
    margin-top: auto;
}
.btn-primary-2{

    padding: 11px 20px;
    border-radius: 8px;
    border-color: #09A15C;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #09A15C;
    margin-top: auto;
}
.btn-primary-3{

    padding: 11px 20px;
    border-radius: 8px;
    border-color: #FFC239;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FFC239;
    margin-top: auto;
}


/* content section */

.content{
    margin-top: 32PX;
    padding: 24px 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16PX;
    border: 1px solid #FFFFFF;
    gap: 24px;
    background-color: rgba(255, 255, 255, 1);
}

.content-description{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
}
.content-name{
    font-weight: 600px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
}

.content-title{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.6);

}

/* news card style  */


.news-head{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}
.news-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.news-image{
    max-width: 408px;
    max-height:306px ;
    border-radius: 24px;
    margin-top: 56px;
    margin-bottom: 56px;
}

.news-card-box{
    flex-wrap: wrap;
    gap: 32px;
}

.news-card-container-1 , .news-card-container-2 {
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
    margin-bottom: 24px;
    box-shadow:  0px  4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);


}

.news-card{
    max-width: 744px;
   align-items: center;
   justify-content: center;
   margin-top: 56px;
}
.news-title{
    font-weight: bold;
    font-size: 32px;
}
.title-date{
    font-weight :400px; 
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.news-description{
     font-weight :400px; 
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.btn-news{
    padding: 13px 26px ;
    border-radius: 8px;
    font-weight: 600PX;
    font-size: 18PX;
    color: #FFFFFF;
    background-color: #006A50;
    border-color: #006A50;
    margin-bottom: 56px;
}

/* donate style  */


.donate{
    text-align: center;
}

.donation-title{
    font-weight: bold;
    font-size: 40px;
}
.donation-description{
    font-weight: 400;
    font-size: 16px;
    color:  rgba(14, 14, 14, 0.7);
}
.btn-class{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 32px 105px;
}

.btn-secendary{
    padding: 40px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    background-color: #FFFFFF;
    border-radius: 16px;
}

.btn-secendary-1{
    padding: 40px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    background-color: rgba(198, 228, 214, 1);
    border-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}
.donation-amount{
    font-weight: 400px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    text-align: center;
    padding: 20px 423px;
    margin: 32px 124px;
    border: 1px solid  rgba(198, 228, 214, 1);
}

/* news-letter-section */
.news-letter{
    text-align: center;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.news-letter-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 16px;
}
.news-title-description{
    font-weight: 400px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.input-form{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.input-field{
    text-align: start;
    padding: 18px 403px 18px 40px ;
    outline: none;
    font-weight: 400px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.3);
    border-radius:15px 0 0 15px;
    border-color:rgba(255, 255, 255, 1);
}

.input-btn{
    padding: 17px 34px;
    text-align: center;
    color: #FFFFFF;
    background-color: #006A50;
    font-weight: 400px;
    font-size: 18px;
    border-radius: 0 15px 15px 0px;
    border-color:rgba(255, 255, 255, 1);
}

.news-title-end{
    font-weight: 400px;
    font-weight: 16px;
    color: rgba(14, 14, 14, 0.7);

}









